<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="modelPath" value="D:\code\Helper\Nlog\bin\Debug\ouput\被保人批量导入编辑模板.xls" />-->
    <add key="modelPath" value=".\被保人批量导入编辑模板.xls" />
  </appSettings>
</configuration>